wsdls/sfdc_create_acct_04ki0000000L6tv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Salesforce.com Outbound Notification Web Services API Version 1.0
Generated on 2016-03-26 15:48:08 +0000.

Copyright 2005-2016 Salesforce.com, Inc.
All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2005/09/outbound"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.sforce.com/2005/09/outbound"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ent="urn:enterprise.soap.sforce.com"
             xmlns:ens="urn:sobject.enterprise.soap.sforce.com">
    <types>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:enterprise.soap.sforce.com">
            <!-- Our simple ID Type -->
            <simpleType name="ID">
                <restriction base="xsd:string">
                    <length value="18"/>
                    <pattern value='[a-zA-Z0-9]{18}'/>
                </restriction>
            </simpleType>
        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <!-- Base sObject (abstract) -->
            <complexType name="sObject">
                <sequence>
                    <element name="fieldsToNull"       type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Id"                 type="ent:ID" nillable="true" />
                </sequence>
            </complexType>

            <complexType name="AggregateResult">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                            <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>

            <complexType name="Account">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                        <element name="AccountNumber" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AccountSource" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AnnualRevenue" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="BillingCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="BillingCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="BillingGeocodeAccuracy" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="BillingLatitude" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="BillingLongitude" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="BillingPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="BillingState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="BillingStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CreatedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="CustomerPriority__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Description" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Fax" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="High_Wealth_Account__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Industry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="IsDeleted" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Jigsaw" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="JigsawCompanyId" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LastActivityDate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastReferencedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastViewedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="MasterRecordId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Match_Billing_Address__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Name" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="NumberOfEmployees" nillable="true" minOccurs="0" type="xsd:int"/>
                        <element name="NumberofLocations__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="OwnerId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Ownership" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ParentId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Phone" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="PhotoUrl" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Potential_Value__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Rating" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="RecordTypeId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="SBQQ__AssetQuantitiesCombined__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SBQQ__CoTermedContractsCombined__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SBQQ__CoTerminationEvent__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SBQQ__ContractCoTermination__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SBQQ__DefaultOpportunity__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="SBQQ__IgnoreParentContractedPrices__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SBQQ__PreserveBundle__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SBQQ__PriceHoldEnd__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="SBQQ__RenewalModel__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SBQQ__RenewalPricingMethod__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingGeocodeAccuracy" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingLatitude" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="ShippingLongitude" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="ShippingPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sic" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SicDesc" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Site" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SystemModstamp" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Test_Formula_Date__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="TickerSymbol" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Type" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="UpsellOpportunity__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Website" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Advance_Request_Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Advance_Requested_Amount__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__BrainTree_Customer_ID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Customer_Class__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Customer_Profile_ID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Gateway__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="invoiceit_s__Invoice_Delivery_Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Payment_Method__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="invoiceit_s__Payment_Terms__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Preferred_Billing_Day__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="invoiceit_s__Todays_MRR_With_TAX__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__Todays_MRR__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__TotalInvoiceValue__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__TotalOrderValue__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__TotalQuoteValue__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__Total_Unallocated_Payment__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="invoiceit_s__VAT_No__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>


        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/2005/09/outbound">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <import namespace="urn:sobject.enterprise.soap.sforce.com" />

            <element name="notifications">
                <complexType>
                    <sequence>
                      <element name="OrganizationId" type="ent:ID" />
                      <element name="ActionId" type="ent:ID" />
                      <element name="SessionId" type="xsd:string" nillable="true" />
                      <element name="EnterpriseUrl" type="xsd:string" />
                      <element name="PartnerUrl" type="xsd:string" />
                        <element name="Notification" maxOccurs="100" type="tns:AccountNotification" />
                    </sequence>
                </complexType>
            </element>

            <complexType name="AccountNotification">
                <sequence>
                    <element name="Id" type="ent:ID" />
                    <element name="sObject" type="ens:Account" />
                </sequence>
            </complexType>

            <element name="notificationsResponse">
                <complexType>
                    <sequence>
                        <element name="Ack" type="xsd:boolean" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>


    <!-- Method Messages -->
    <message name="notificationsRequest">
        <part element="tns:notifications" name="request"/>
    </message>
    <message name="notificationsResponse">
        <part element="tns:notificationsResponse" name="response"/>
    </message>

    <!-- PortType -->
    <portType name="NotificationPort">
        <operation name="notifications">
            <documentation>Process a number of notifications.</documentation>
            <input  message="tns:notificationsRequest"/>
            <output message="tns:notificationsResponse"/>
        </operation>
    </portType>

    <!-- Binding
         You need to write a service that implements this binding to receive the notifications
     -->
    <binding name="NotificationBinding" type="tns:NotificationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="notifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service Endpoint -->
    <service name="NotificationService">
        <documentation>Notification Service Implementation</documentation>
        <port binding="tns:NotificationBinding" name="Notification">
            <soap:address location="http://test.com"/>
        </port>
    </service>

</definitions>
